html, body {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
}

#header {
  text-align: center;
}

#sidebar {
  padding-top: 5%;
  background-color: rgb(235, 235, 235);
  text-align: center;
  height: 66vh;
}

#rightside{
  background-color: rgb(235, 235, 235);
  text-align: center;
  height: 66vh
}

#main {
  text-align: center;
}

#better {
  padding-top: 25%;
}

#label{
font-size: 4vh;
}

#button {
  border: 1px solid transparent;
  border-radius: 1px;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  height: 5vh;

}

#number {
  border: 1px solid ;
  border-radius: 1px;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  height: 5vh;
  background-color: rgba(235, 235, 235, 0.8);
}
